<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gusl.gojserver.mapper.ProblemMapper">


    <select id="selectPendingReviews" resultType="com.gusl.gojserver.pojo.vo.AdminProblemReviewListVo">
        select p.id           as problemId,
               p.problem_name as problemName,
               u.id           as userId,
               u.username,
               p.create_time  as createTime
        from problem p
                 left join sys_user u on p.author_id = u.id
        where p.status = #{status}
        order by p.create_time asc, p.id asc
    </select>

    <select id="selectProblemPage" resultType="com.gusl.gojserver.pojo.vo.ProblemPageListVo">
        SELECT
            p.id AS problemId,
            p.problem_name AS problemName,
            p.difficulty,
            CASE
                WHEN upp.id IS NULL THEN 'UNATTEMPTED'
                ELSE upp.status
            END AS status
        FROM problem p
        LEFT JOIN user_problem_progress upp
            ON upp.problem_id = p.id
            AND upp.user_id = #{userId}
        WHERE p.status = #{publishStatus}

        <if test="dto.keyword != null and dto.keyword != ''">
            AND (
                p.problem_name LIKE CONCAT('%', #{dto.keyword}, '%')
                OR CAST(p.id AS CHAR) = #{dto.keyword}
            )
        </if>

        <if test="dto.difficultyMin != null">
            AND p.difficulty &gt;= #{dto.difficultyMin}
        </if>

        <if test="dto.difficultyMax != null">
            AND p.difficulty &lt;= #{dto.difficultyMax}
        </if>

        <if test="dto.tagId != null and dto.tagId.size() > 0">
            AND EXISTS (
                SELECT 1
                FROM problem_tag pt_filter
                WHERE pt_filter.problem_id = p.id
                  AND pt_filter.tag_id IN
                <foreach collection="dto.tagId" item="tagId" open="(" separator="," close=")">
                    #{tagId}
                </foreach>
            )
        </if>

        <if test="userId != null and dto.solveStatus != null and dto.solveStatus != ''">
            <choose>
                <when test="dto.solveStatus == 'UNATTEMPTED'">
                    AND upp.id IS NULL
                </when>
                <otherwise>
                    AND upp.status = #{dto.solveStatus}
                </otherwise>
            </choose>
        </if>

        ORDER BY p.id ASC
    </select>

    <select id="selectProblemPageByAdmin" resultType="com.gusl.gojserver.pojo.vo.AdminProblemPageListVo">
        SELECT
            p.id AS problemId,
            p.problem_name AS problemName,
            p.difficulty,
            CASE
                WHEN upp.id IS NULL THEN 'UNATTEMPTED'
                ELSE upp.status
            END AS status,
            p.status AS problemStatus
        FROM problem p
        LEFT JOIN user_problem_progress upp
            ON upp.problem_id = p.id
            AND upp.user_id = #{userId}
        WHERE 1 = 1

        <if test="dto.keyword != null and dto.keyword != ''">
            AND (
                p.problem_name LIKE CONCAT('%', #{dto.keyword}, '%')
                OR CAST(p.id AS CHAR) = #{dto.keyword}
            )
        </if>

        <if test="dto.difficultyMin != null">
            AND p.difficulty &gt;= #{dto.difficultyMin}
        </if>

        <if test="dto.difficultyMax != null">
            AND p.difficulty &lt;= #{dto.difficultyMax}
        </if>

        <if test="dto.tagId != null and dto.tagId.size() > 0">
            AND EXISTS (
                SELECT 1
                FROM problem_tag pt_filter
                WHERE pt_filter.problem_id = p.id
                  AND pt_filter.tag_id IN
                <foreach collection="dto.tagId" item="tagId" open="(" separator="," close=")">
                    #{tagId}
                </foreach>
            )
        </if>

        <if test="userId != null and dto.solveStatus != null and dto.solveStatus != ''">
            <choose>
                <when test="dto.solveStatus == 'UNATTEMPTED'">
                    AND upp.id IS NULL
                </when>
                <otherwise>
                    AND upp.status = #{dto.solveStatus}
                </otherwise>
            </choose>
        </if>

        ORDER BY p.id ASC
    </select>

</mapper>
