<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gusl.gojserver.mapper.ProblemMapper">


    <select id="selectPendingReviews" resultType="com.gusl.gojserver.pojo.vo.AdminProblemReviewListVo">
        select
            p.id as problemId,
            p.problem_name as problemName,
            u.id as userId,
            u.username,
            p.create_time as createTime
        from problem p
        left join sys_user u on p.author_id = u.id
        where p.status = #{status}
        order by p.create_time asc, p.id asc
        limit #{offset}, #{size}
    </select>
</mapper>
